.DS_Store
*/android/bin
*/android/build.xml
*/android/default.properties
*/android/local.properties
*/android/obj/
*/android/libs/
*/android/proguard-project.txt
*/android/assets
*.a
engine/build
deps/*/build
project.xcworkspace/
xcuserdata/
.\#.*
\#*\#
SET_ACTIVE_TEST.h
